
<div id="about">
  <div class="container">
    <div class="about-title">				
      <h2>. . .<br /><br />
	About Our Cafe</h2> 
    </div>
    <div class="row">	
      <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod eu orci auctor hendrerit. Integer a risus vitae nibh malesuada accumsan. Integer vitae erat posuere arcu suscipit dapibus. Vestibulum varius nunc vehicula magna posuere, et mattis diam scelerisque.
	Nullam scelerisque id nulla eget porta. Aenean aliquet elit dui, ac dignissim magna iaculis nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ut dignissim lectus.
      </div>
    </div>
    <div class="row">
      <div class="prettyPhoto-gallery">
	<ul id="flexisel">
	  <li><a data-rel="prettyPhoto[about]" href="images/about/01.png"><img src="images/about/thumbs/01.png" alt="Hearts Espresso" /></a></li>
	  <li><a data-rel="prettyPhoto[about]" href="images/about/02.png"><img src="images/about/thumbs/02.png" alt="Cake & Tea" /></a></li>
	  <li><a data-rel="prettyPhoto[about]" href="images/about/03.png"><img src="images/about/thumbs/03.png" alt="Frutty Shake" /></a></li>
	  <li><a data-rel="prettyPhoto[about]" href="images/about/04.png"><img src="images/about/thumbs/04.png" alt="Cute Muffin" /></a></li>  
	  <li><a data-rel="prettyPhoto[about]" href="images/about/05.png"><img src="images/about/thumbs/05.png" alt="Fresh Cookies" /></a></li>	
	</ul>  
      </div>
    </div>
    
    <div class="row about-icon">
      <div class="fa-calendar"></div>
    </div>
    <div class="row">
      <div class="about-events">We are organizing all kinds of events, from private parties to birthdays or anniversaries.</div>
      <a href="#contact"><div class="about-button">Contact us for more details and reservations!</div></a>
    </div>
  </div>
</div>
