
<div id="deal">
  <div class="container">	
    <h2>. . .<br /><br />
      Today's Deal</h2>  
    <div class="row">
      <p>Maecenas sed rhoncus purus. Nam ullamcorper dignissim ligula.<br />
	Nulla eleifend arcu eu neque elementum ornare. Phasellus et mi et ipsum posuere luctus in et turpis.</p> 
      
    </div>
    <br /><br />
    <div class="row daily-deal">
      <i class="fa-coffee daily-deal-icons"> <span>coffee</span></i>
      <i class="fa-plus daily-deal-icons2"></i>
      <i class="fa-glass daily-deal-icons"> <span>juice</span></i> 
      <i class="fa-arrow-right daily-deal-icons2"></i>
      <i class="fa-gift daily-deal-icons"> <span>free desert</span></i>
    </div>
    
    <br /><br /><br />
    
    <h2>. . .<br /><br />
      Experience Our Yummie Cocktails</h2> 
    <div class="row">
      <div class="col-lg-6 featured-product-image">
	<img src="images/cocktails.png" alt="yummie shakes" />
      </div>
      <div class="col-lg-6">
	<div class="featured-product-text">
	  Quisque vitae est mi. Curabitur in tincidunt mauris. Integer feugiat metus convallis vehicula. Praesent pretium, mi ut consequat accumsan, neque erat feugiat nisi, ut adipiscing lacus ipsum ut nibh. Quisque scelerisque ligula egestas augue porttitor, et commodo sem rhoncus.
	</div>
	<div class="featured-product-button">
	  10% OFF! Taste them all now!
	</div>
      </div>
    </div>
  </div><!--end container-->	
</div>
