
<div id="events">
  <h2>. . .<br /><br />
    Upcoming Events</h2>  
  <div class="container">	
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo odio, accumsan at vulputate vitae, accumsan at libero. Phasellus sed quam volutpat, congue orci in, tincidunt tortor. Etiam nulla dui, adipiscing et velit vel, pharetra interdum lectus.</p>
    
    <div class="cn_wrapper">
      <div id="cn_preview" class="cn_preview">
	<div class="cn_content" style="top:5px;">
	  <img src="images/events/valentines.jpg" alt="Yummie Events" />
	  <h2>Valentines Party</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at semper diam, varius scelerisque urna. Maecenas pulvinar nisl ac lacus vehicula, nec consequat nibh lobortis. Suspendisse faucibus quam sit amet est dapibus adipiscing interdum nulla.</p>
	</div>
	<div class="cn_content">
	  <img src="images/events/photoexpo.jpg" alt="Yummie Events" />
	  <h2>Photo Exhibition "Of Mind & Soul"</h2>
	  <p>Etiam felis lorem, sagittis ut urna a, convallis bibendum mauris. In facilisis massa ac ullamcorper hendrerit. Suspendisse ornare purus quis dui ultricies, vel facilisis mi lacinia. Proin non aliquet ante. Sed ligula vel sem iaculis, eu ultrices quam faucibus.</p>
	</div>
	<div class="cn_content">
	  <img src="images/events/muffinsday.jpg" alt="Yummie Events" />
	  <h2>Muffins Day</h2>
	  <p>Sed in adipiscing lectus, vitae sollicitudin ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent fringilla tortor ac metus mattis molestie. Integer quis viverra metus. Nulla eget malesuada.</p>
	</div>
	<div class="cn_content">
	  <img src="images/events/orientaltea.jpg" alt="Yummie Events" />
	  <h2>Oriental Tea Party</h2>
	  <p>Curabitur porta nunc metus, vitae blandit turpis tincidunt nec. Proin leo nulla, facilisis ac tincidunt ac, sollicitudin id erat. Donec vel erat ac massa ornare semper. Nunc dignissim mauris purus, quis fermentum tortor lobortis nec. Duis quis magna eget.</p>
	</div>
	<div class="cn_content">
	  <img src="images/events/spring.jpg" alt="Yummie Events" />
	  <h2>Spring Party</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at semper diam, varius scelerisque urna. Maecenas pulvinar nisl ac lacus vehicula, nec consequat nibh lobortis. Suspendisse faucibus quam sit amet est dapibus adipiscing interdum nulla.</p>
	</div>
	<div class="cn_content">
	  <img src="images/events/girls.jpg" alt="Yummie Events" />
	  <h2>Girls' Night Out</h2>
	  <p>Etiam felis lorem, sagittis ut urna a, convallis bibendum mauris. In facilisis massa ac ullamcorper hendrerit. Suspendisse ornare purus quis dui ultricies, vel facilisis mi lacinia. Proin non aliquet ante. Sed ligula vel sem iaculis, eu ultrices quam faucibus.</p>
	</div>
	<div class="cn_content">
	  <img src="images/events/concert.jpg" alt="Yummie Events" />
	  <h2>"The Designers" Accoustic Concert</h2>
	  <p>Sed in adipiscing lectus, vitae sollicitudin ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent fringilla tortor ac metus mattis molestie. Integer quis viverra metus. Nulla eget malesuada.</p>
	</div>
	<div class="cn_content">
	  <img src="images/events/drawing.jpg" alt="Yummie Events" />
	  <h2>Drawing Exhibition</h2>
	  <p>Curabitur porta nunc metus, vitae blandit turpis tincidunt nec. Proin leo nulla, facilisis ac tincidunt ac, sollicitudin id erat. Donec vel erat ac massa ornare semper. Nunc dignissim mauris purus, quis fermentum tortor lobortis nec. Duis quis magna eget.</p>
	</div>
	<div class="cn_content">
	  <img src="images/events/cocktail.jpg" alt="Yummie Events" />
	  <h2>Cocktail Party</h2>
	  <p>Etiam felis lorem, sagittis ut urna a, convallis bibendum mauris. In facilisis massa ac ullamcorper hendrerit. Suspendisse ornare purus quis dui ultricies, vel facilisis mi lacinia. Proin non aliquet ante. Sed ligula vel sem iaculis, eu ultrices quam faucibus.</p>
	</div>
	<div class="cn_content">
	  <img src="images/events/anniversary.jpg" alt="Yummie Events" />
	  <h2>Yummie Anniversary - 10 sweet years</h2>
	  <p>Sed in adipiscing lectus, vitae sollicitudin ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent fringilla tortor ac metus mattis molestie. Integer quis viverra metus. Nulla eget malesuada.</p>
	</div>
	<div class="cn_content">
	  <img src="images/events/digipainting.jpg" alt="Yummie Events" />
	  <h2>Digital Painting Expo</h2>
	  <p>Curabitur porta nunc metus, vitae blandit turpis tincidunt nec. Proin leo nulla, facilisis ac tincidunt ac, sollicitudin id erat. Donec vel erat ac massa ornare semper. Nunc dignissim mauris purus, quis fermentum tortor lobortis nec. Duis quis magna eget.</p>
	</div>
      </div>
      
      <div id="cn_list" class="cn_list">
	<div class="cn_page" style="display:block;">
	  <div class="cn_item selected">
	    <h3>14 Feb &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Valentines Party</h3>
	  </div>
	  <div class="cn_item">
	    <h3>22 Feb &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Photo Exhibition "Of Mind & Soul"</h3>
	  </div>
	  <div class="cn_item">
	    <h3>23 Feb &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Muffins Day</h3>
	  </div>
	  <div class="cn_item">
	    <h3>28 Feb &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Oriental Tea Party</h3>
	  </div>
	</div>
	<div class="cn_page">
	  <div class="cn_item">
	    <h3>1 Mars &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Spring Party</h3>
	  </div>
	  <div class="cn_item">
	    <h3>8 Mars &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Girls' Night Out</h3>
	  </div>
	  <div class="cn_item">
	    <h3>15 Mars &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; "The Designers" Accoustic Concert</h3>
	  </div>
	  <div class="cn_item">
	    <h3>22 Mars &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Drawings Exhibition</h3>
	  </div>
	</div>
	<div class="cn_page">
	  <div class="cn_item">
	    <h3>5 April &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Cocktail Party</h3>
	  </div>
	  <div class="cn_item">
	    <h3>8 April &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Yummie Anniversary - 10 sweet years</h3>
	  </div>
	  <div class="cn_item">
	    <h3>19 April &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Digital Painting Expo</h3>
	  </div>
	</div>
	<div class="cn_nav">
	  <a id="cn_prev" class="cn_prev disabled">Previous Month</a>
	  <a id="cn_next" class="cn_next">Next Month</a>
	</div>
      </div>
      
    </div><!--end cn_wrapper-->
  </div>
</div>
