
<div id="facts">
  <div class="facts-title">
    <h2>. . .<br /><br />
      Fun Facts</h2> 
  </div>
  <div class="container">	
    <div class="row">
      <div id="design">
	<div class="col-md-3">
	  <div class="timer" data-to="969" data-speed="3000"></div><div class="timer-text"><h3>Coffee Cups Sold</h3></div>
	</div>
	<div class="col-md-3">
	  <div class="timer" data-to="265" data-speed="3000"></div><div class="timer-text"><h3>Regular Customers</h3></div>
	</div>
	<div class="col-md-3">
	  <div class="timer" data-to="713" data-speed="3000"></div><div class="timer-text"><h3>Muffins Baked</h3></div>
	</div>
	<div class="col-md-3">
	  <div class="timer" data-to="85" data-speed="3000"></div><div class="timer-text"><h3>Successful Parties</h3></div>
	</div>
      </div>
    </div>
  </div>
</div>
