
<div class="copyright">

  <div class="row">

    <div class="col-sm-8 text-left"><%= data.site.copyright %></div>

    <div class="col-sm-4 text-right"><small><%= data.site.credit %></small></div>

  </div>

</div>
