
<div id="intro">
  <div class="headline-bg">
    <div class="container">
      <img class="headline-left-content animated bounceIn tada" alt="badge" src="images/badge.png" />
      
      <div class="headline-right-content animated bounceInDown">
	<div><h1>It tastes as good as it looks!</h1>
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet est non porttitor consectetur. Nulla eleifend arcu eu neque elementum ornare. Nulla mecenas sed rhoncus purus. Nam ullamcorper dignissim ligula. Nam ut molestie mi, ut venenatis lorem. Quisque quis arcu ut massa laoreet at vestibulum.
	</div>
	<br />
	<div class="row">
	  <div class="headline-list">
	    <h1>
	      Coffee, tea, fresh juice, beer, wine,<br />
	      breakfast, desert & more...
	    </h1>
	  </div>
	  <div class="headline-button"><a href="#menu">Check out our menu!</a></div>
	</div>
      </div>
      
    </div>
  </div>
</div>	
