
<div id="menu">
  <h2>. . .<br /><br />
    Finest drinks & freshest sweets</h2> 	
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo odio, accumsan at vulputate vitae, accumsan at libero. Phasellus sed quam volutpat, congue orci in, tincidunt tortor. Etiam nulla dui, adipiscing et velit vel, pharetra interdum lectus.</p>
    <br /><br />
    
    <div class="row">
      <div class="col-sm-3 col-md-3">
	<div class="menu-images"><img src="images/menu/hot-drinks.png" alt="Hot Drinks" /></div>
	<div class="menu-titles"><h1>Hot drinks</h1></div>
	<div class="menu-items">
	  <ul>
	    <li>Espresso</li>
	    <li>Americano</li>
	    <li>Capuccino</li>
	    <li>Latte</li>
	    <li>Mocha</li>
	    <li>Hot Chocolate</li>
	    <li>Yummie Cafee</li>
	    <li>Fruit Tea</li>
	  </ul>
	</div>
      </div>
      <div class="col-sm-3 col-md-3">
	<div class="menu-images"><img src="images/menu/ice-drinks.png" alt="Ice Drinks" /></div>
	<div class="menu-titles"><h1>Ice drinks</h1></div>
	<div class="menu-items">
	  <ul>
	    <li>Ice Coffee</li>
	    <li>Americano</li>
	    <li>Latte</li>
	    <li>Vanilla Frappe</li>
	    <li>Espresso Frappe</li>
	    <li>Choco Frappe</li>
	    <li>Iced Chai</li>
	    <li>Fruit Fresh</li>
	  </ul>
	</div>
      </div>
      <div class="col-sm-3 col-md-3">
	<div class="menu-images"><img src="images/menu/smoothies.png" alt="Smoothies" /></div>
	<div class="menu-titles"><h1>Smoothies</h1></div>
	<div class="menu-items">
	  <ul>
	    <li>Mango</li>
	    <li>Strawberry</li>
	    <li>Blue Berry</li>
	    <li>Peach</li>
	    <li>Pineapple</li>
	    <li>Banana</li>
	    <li>Milkshake</li>
	    <li>Greens</li>
	  </ul>
	</div>
      </div>
      <div class="col-sm-3 col-md-3">
	<div class="menu-images"><img src="images/menu/deserts.png" alt="Deserts" /></div>
	<div class="menu-titles"><h1>Deserts</h1></div>
	<div class="menu-items">
	  <ul>
	    <li>Cheesecake</li>
	    <li>Choco Pie</li>
	    <li>Pancakes</li>
	    <li>Muffins</li>
	    <li>Fruit Slices</li>
	    <li>Fruit Salad</li>
	    <li>Cream Cake</li>
	    <li>Ice Cream</li>
	  </ul>
	</div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-3 col-md-3">
	<div class="menu-images"><img src="images/menu/cocktails.png" alt="Hot Drinks" /></div>
	<div class="menu-titles"><h1>Cocktails</h1></div>
	<div class="menu-items">
	  <ul>
	    <li>Black Velvet</li>
	    <li>Gin Sour</li>
	    <li>Mojito</li>
	    <li>Long Island</li>
	    <li>Orgasm</li>
	    <li>Bloody Mary</li>
	    <li>Earthquake</li>
	    <li>Whisky Mac</li>
	  </ul>
	</div>
      </div>
      <div class="col-sm-3 col-md-3">
	<div class="menu-images"><img src="images/menu/beer.png" alt="Ice Drinks" /></div>
	<div class="menu-titles"><h1>Beer</h1></div>
	<div class="menu-items">
	  <ul>
	    <li>Lager</li>
	    <li>Blonde Beer</li>
	    <li>Black Beer</li>
	    <li>Blonde Ale</li>
	    <li>Pilsner</li>
	    <li>Lemon Beer</li>
	    <li>Unfiltered Beer</li>
	    <li>Non-Alcoholic</li>
	  </ul>
	</div>
      </div>
      <div class="col-sm-3 col-md-3">
	<div class="menu-images"><img src="images/menu/wine.png" alt="Smoothies" /></div>
	<div class="menu-titles"><h1>Wine</h1></div>
	<div class="menu-items">
	  <ul>
	    <li>Sweet Red</li>
	    <li>Dry Red</li>
	    <li>Sweet White</li>
	    <li>Dry White</li>
	    <li>Rose</li>
	    <li>Sparkling Wine</li>
	    <li>Fortified Wine</li>
	    <li>Frutty Red</li>
	  </ul>
	</div>
      </div>
      <div class="col-sm-3 col-md-3">
	<div class="menu-images"><img src="images/menu/sprites.png" alt="Deserts" /></div>
	<div class="menu-titles"><h1>Sprites</h1></div>
	<div class="menu-items">
	  <ul>
	    <li>Whisky</li>
	    <li>Rum</li>
	    <li>Tequila</li>
	    <li>Gin</li>
	    <li>Champagne</li>
	    <li>Brandy</li>
	    <li>Absinthe</li>
	    <li>Liqueur</li>
	  </ul>
	</div>
      </div>
    </div>
  </div>
</div>
