

<div id="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
	<div class="program">MO to FR - 8AM to 12AM // SAT & SUN - 24h a day</div>
      </div>
      <div class="col-md-4">
	<div class="reservation"><a href="#contact">Make Reservation</a></div>
      </div>
      <div class="col-md-4">
	<div class="social-media">
	  <span class="social">
	    <a href="#" class="fa-facebook"></a>
	    <a href="#" class="fa-twitter"></a>
	    <a href="#" class="fa-google-plus"></a>
	    <a href="#" class="fa-pinterest"></a>
	    <a href="#" class="fa-linkedin"></a>
	    <a href="#" class="fa-youtube"></a>
	    <a href="#" class="fa-flickr"></a>
	  </span>
	</div>
      </div>
    </div>
  </div>
</div>
